/Project2/nbproject/private/
/Project2/build/
/Project3/nbproject/private/
/Project3/build/
/ProjectPengubinan/nbproject/private/
/ProjectPengubinan/build/
/ProjectLuasBangunKompleks/nbproject/private/
/ProjectLuasBangunKompleks/build/
/ProjectOverloading/nbproject/private/
/ProjectOverloading/build/
/ProjectAdvancedOperasi/nbproject/private/
/ProjectAdvancedOperasi/build/
/ProjectBangunDatar2/nbproject/private/
/ProjectBangunDatar2/build/
/utsteori/nbproject/private/
/utsteori/build/
/DegDeganApp/nbproject/private/
/DegDeganApp/build/
/PythagorasProject/nbproject/private/
/PythagorasProject/build/
/GameTebakAngkaProject/nbproject/private/
/GameTebakAngkaProject/build/
/projectrerata/nbproject/private/
/projectrerata/build/
/ProjectRerata2/nbproject/private/
/ProjectRerata2/build/
/SimpleArrayList/nbproject/private/
/SimpleArrayList/build/
/RentalConsoleGame/nbproject/private/
/RentalConsoleGame/build/