/Project2/nbproject/private/
/Project2/build/
/Project3/nbproject/private/
/Project3/build/
/ProjectPengubinan/nbproject/private/
/ProjectPengubinan/build/
/ProjectLuasBangunKompleks/nbproject/private/
/ProjectLuasBangunKompleks/build/
/ProjectOverloading/nbproject/private/
/ProjectOverloading/build/
/ProjectAdvancedOperasi/nbproject/private/
/ProjectAdvancedOperasi/build/
/ProjectBangunDatar2/nbproject/private/
/ProjectBangunDatar2/build/